@import "variables";

.post {
    img {
        /* used in combination with layouts/_default/_markup/render-image.html */
        max-width: 100%;
        height: auto;
    }

    img {
        /* center images */
        display: block;
        margin: auto;

        /* add border */
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    code {
        overflow-wrap: break-word;
    }

    table th {
        position: sticky;
        top: 0;
    }

    table thead th {
        background-color: $alt-bg-color;
        color: $alt-fg-color;
    }

    .footnotes {
        font-size: 0.8em;
    }
}

body.colorscheme-dark .post table thead th {
    background-color: $alt-bg-color-dark;
    color: $alt-fg-color-dark;
}

@import "github";

body.colorscheme-dark {
    @import "gruvbox";
}