@import "variables";

@mixin themeProperty($property, $bright-value, $dark-value) {
    #{$property}: $bright-value !important;
    body.colorscheme-dark & { #{$property}: $dark-value !important; }
}

.post {
    p {
        /* undo "white-space: pre-wrap" in _base.scss */
        white-space: normal;
    }

    nav#TableOfContents ul {
        padding: 0 2rem;
    }

    img, svg, .mermaid > svg, .goat > svg {
        /* used in combination with layouts/_default/_markup/render-image.html */
        max-width: 100%;
        height: auto;

        /* center images */
        display: block;
        margin: auto;
    }

    .goat > svg {
        /* reset the font size on goat diagrams */
        font-size: 1rem;
    }

    .mermaid > svg {
        .packetByte, .packetLabel, .packetTitle {
            @include themeProperty(fill, $alt-fg-color, $alt-fg-color-dark);
        }
        .packetBlock {
            @include themeProperty(fill, $alt-bg-color, $alt-bg-color-dark);
        }
    }

    svg {
        /* Define classes for SVGs that adapt to the color scheme */

        .stroke-fg {
            @include themeProperty(stroke, $fg-color, $fg-color-dark);
        }

        .fill-fg {
            @include themeProperty(fill, $fg-color, $fg-color-dark);
        }

        .stroke-bg {
            @include themeProperty(stroke, $bg-color, $bg-color-dark);
        }

        .fill-bg {
            @include themeProperty(fill, $bg-color, $bg-color-dark);
        }
    }

    code {
        /* break inline code (at some places) */
        hyphens: manual;
        overflow-wrap: break-word;
    }

    code.language-shell-session .gp {
        /* prevent selecting the command line prompt */
        user-select: none;
    }
    
    .lntable pre {
        /* prevent additional margins around line numbers in code blocks */
        padding: 0;
        margin: 0;
    }

    table th {
        /* stick table headers to top when scrolling */
        position: sticky;
        top: 0;
    }

    table thead th {
        /* style table headers */
        @include themeProperty(background-color, $alt-bg-color, $alt-bg-color-dark);
        @include themeProperty(color, $alt-fg-color, $alt-fg-color-dark);
    }

    .footnotes {
        /* make footnotes smaller */
        font-size: 0.8em;
    }
}


/* Use colorscheme "github" by default (i.e. when using the light colorscheme) */
@import "github";

body.colorscheme-dark {
    /* Use colorscheme "gruvbox" when using the dark colorscheme */
    @import "gruvbox";
}